---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=WEATHER_API_KEY&q=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '616'
      X-Stackifyid:
      - V2|6237c29b-c867-41c8-adf1-2d61e50a8214|C0|CD0
      Cdn-Cachedat:
      - '2021-02-23 13:58:53'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - '095f5fdfe4aea12a6a0d2895a6280761'
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.98,"tz_id":"America/Denver","localtime_epoch":1614113933,"localtime":"2021-02-23
        13:58"},"current":{"last_updated_epoch":1614113116,"last_updated":"2021-02-23
        13:45","temp_c":16.1,"temp_f":61.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":15.0,"wind_kph":24.1,"wind_degree":360,"wind_dir":"N","pressure_mb":1007.0,"pressure_in":30.2,"precip_mm":0.0,"precip_in":0.0,"humidity":13,"cloud":25,"feelslike_c":16.1,"feelslike_f":61.0,"vis_km":16.0,"vis_miles":9.0,"uv":3.0,"gust_mph":6.3,"gust_kph":10.1}}'
  recorded_at: Tue, 23 Feb 2021 20:58:53 GMT
recorded_with: VCR 6.0.0
