---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=WEATHER_API_KEY&q=80120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '616'
      X-Stackifyid:
      - V2|a6a187c8-11a2-47d5-bd15-37e7039622d6|C0|CD0
      Cdn-Cachedat:
      - '2021-02-23 13:40:11'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - '0628e84d54b26a0864e295e9c8a50c9a'
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Littleton","region":"Colorado","country":"USA","lat":39.6,"lon":-105.01,"tz_id":"America/Denver","localtime_epoch":1614112811,"localtime":"2021-02-23
        13:40"},"current":{"last_updated_epoch":1614112212,"last_updated":"2021-02-23
        13:30","temp_c":16.1,"temp_f":61.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":15.0,"wind_kph":24.1,"wind_degree":360,"wind_dir":"N","pressure_mb":1007.0,"pressure_in":30.2,"precip_mm":0.0,"precip_in":0.0,"humidity":13,"cloud":25,"feelslike_c":16.1,"feelslike_f":61.0,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":9.4,"gust_kph":15.1}}'
  recorded_at: Tue, 23 Feb 2021 20:40:11 GMT
recorded_with: VCR 6.0.0
